* {
  text-decoration: none;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  width: 100%;
  margin-bottom: 20px;
}

a#title {
  transition: transform 150ms;
}

a#title:hover {
  transform: scale(1.02);
}

a#title {
  transition: transform 150ms;
}

a#title:hover {
  transform: scale(1.02);
}

nav a {
  font-size: clamp(1.05rem, 1.5vw, 1.4rem);
  padding: 10px 20px;
  color: #000;
}

header nav a:active {
  transform: scale(0.5);
}

nav a:hover {
  border-bottom: solid 2px #23b3ef;
}

#global {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px 150px;
}

@media screen and (max-width: 850px) {
  #global {
    margin: 15px;
  }
  header {
    flex-direction: column;
  }
<<<<<<< HEAD
  #global .box {
    width: 200px;
    height: 200px;
  }
=======
>>>>>>> 4a1118598167b711fefd01f80fc6a96a1874ab47
}

#titre {
  color: #000;
}

#dashboard {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
  width: fit-content;
}

.box {
  background: #fff;
  width: 250px;
  height: 250px;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  color: #000;
  transition: 100ms;
}

.box:hover,
.capteur:hover {
  transform: scale(1.02);
}

.box:active,
.capteur:active {
  transform: scale(0.94);
}

.box h2 {
  font-size: 2rem;
  margin: 0;
}

.metrecube {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
}

.number {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 7rem;
  margin: 0;
  color: #23b3ef;
  font-family: monospace;
}
.number_m3 {
  font-size: 7rem;
  margin: 0;
  color: #23b3ef;
  font-family: monospace;
}

.m3 {
  color: #23b3ef;
  font-family: monospace;
  font-size: 2rem;
}

#capteurTitle {
  font-size: 2rem;
  margin: 20px 0;
}

.capteurs {
  border: solid 2px #000;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 50px rgba(35, 179, 239, 0.5);
}

.capteur {
  background: #fff;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  border: solid 2px #23b3ef;
  transition: 100ms;
  box-shadow: 0 0 20px rgba(35, 179, 239, 0.3);
}

.capteur a {
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 0;
  color: #000;
}

.modifCapteur {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.5rem, 2vw, 2rem);
  gap: 20px;
  border-radius: 10px;
  padding: 50px;
  border: solid 2px #000;
  backdrop-filter: blur(3px);
  background: transparent;
}

.modifCapteur p,
.modifCapteur h2 {
  margin: 0;
}

.modifCapteur input {
  padding: 10px;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons a,
.buttons button {
  color: #fff;
  background: #23b3ef;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
  border: solid 2px grey;
  transition: 100ms;
}
.buttons a:nth-child(2n) {
  background: red;
}

.buttons a:hover,
.buttons button:hover {
  transform: scale(1.02);
}

.buttons a:active,
.buttons button:active {
  transform: scale(0.94);
}

.containerCanvas {
  width: 70vw;
  height: 500px;
}

#myChart {
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  0% {
    height: 0px;
  }
  100% {
    height: var(--height);
  }
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

input[type="date"].red {
  border: solid 2px red;
  color: red;
}
<<<<<<< HEAD

#row div {
  font-size: clamp(1rem, 2vw, 2rem);
  color: #000;
}
=======
>>>>>>> 4a1118598167b711fefd01f80fc6a96a1874ab47
