* {
  text-decoration: none;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  width: 100%;
}

nav a {
  font-size: 1.4rem;
  padding: 10px 20px;
  color: #000;
}

#global {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px 20%;
}

#titre {
  color: #000;
}

#dashboard {
  width: fit-content;
  height: 100%;
  background: #000;
  display: flex;
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
}

#dashboard div:not(.metrecube) {
  background: #fff;
  width: 250px;
  height: 250px;
  padding: 50px;
  position: relative;
  border-radius: 10px;
}

#dashboard h2 {
  font-size: 2rem;
}

.metrecube {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
}

.number {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 7rem;
  margin: 0;
  color: #23b3ef;
  font-family: monospace;
}
.number_m3 {
  font-size: 7rem;
  margin: 0;
  color: #23b3ef;
  font-family: monospace;
}

.m3 {
  color: #23b3ef;
  font-family: monospace;
  font-size: 2rem;
}
